@charset "UTF-8";

* {
    -moz-box-sizing: border-box; /*For Mozilla*/
    -webkit-box-sizing: border-box; /*For Chrome og Safari*/
    box-sizing: border-box;
    -ms-box-sizing: border-box; /*For IE8*/
}

body {
	color: #101010;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}

.container {
	width: 980px;
	margin: 0 auto;
	background: #fff;
}

/* HEADER
********************************/

.title {
	width: 880px;
	margin: 0 auto;
	font-family: "Merriweather";
	font-weight: 900;
	font-size: 60px;
	line-height: 66px;
	letter-spacing: -0.01em;
	font-style: italic;
	text-align: center;
}

.ingress {
	font-weight: 800;
	font-size: 21px;
	text-align: center;
	width: 780px;
	margin: 0 auto;
}

/* BYLINE
********************************/