@media (max-width: 479px) {
  .form-wrapper {
    margin: 0px;
  }
  .text-field {
    margin-bottom: 0px;
    border-radius: 3px;
  }
  .text-field.field-phone.type-tel {
    height: 44px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    font-size: 18px;
  }
  .body {
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
  }
  .text-field-2 {
    margin-bottom: 0px;
  }
  .text-field-2.input {
    height: 44px;
    padding-left: 6px;
    border-radius: 3px;
    font-size: 18px;
  }
  .text-field-3 {
    height: 44px;
    margin-bottom: 0px;
    padding-left: 6px;
    border-radius: 3px;
    font-size: 18px;
  }
  .div-block {
    margin-bottom: 30px;
  }
  .div-block-2 {
    margin-bottom: 30px;
  }
  .div-block-3 {
    margin-bottom: 30px;
  }
  .unique-number {
    display: inline-block;
    width: 28px;
    height: 26px;
    margin-right: 8px;
    padding: 3px 10px;
    float: left;
    border-radius: 80px;
    background-image: -webkit-linear-gradient(270deg, #ddd, #ddd);
    background-image: linear-gradient(180deg, #ddd, #ddd);
    color: #000;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
  }
  .text-block-2 {
    margin-top: 4px;
    margin-bottom: 1px;
    float: left;
  }
  .section {
    margin: 12px 12px 40px;
  }
  .section-2 {
    margin: 12px;
  }
  .number-wrapper {
    margin-bottom: 8px;
  }
  .number-wrapper.number-wrapper-first {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  }
  .section {
    margin: 12px 12px 40px;
  }
  .div-block-4 {
    padding: 12px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(270deg, #0075be, #0075be);
    background-image: linear-gradient(180deg, #0075be, #0075be);
  }
  .text-block-3 {
    margin-bottom: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  .paragraph {
    margin-bottom: 0px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
  }
  .number-wrapper-first {
    margin-bottom: 8px;
  }
  .text-block-4 {
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 16px;
    font-style: italic;
  }
  .field-label {
    font-size: 15px;
  }
  .field-label-2 {
    font-size: 15px;
  }
  .field-label-3 {
    font-size: 15px;
  }
  .div-block-5 {
    margin-bottom: 30px;
  }
  .birth-label {
    width: 20%;
    font-weight: 400;
  }
  .text-field-4 {
    border-radius: 3px;
  }
  .text-field-4.type-tel {
    height: 44px;
    padding-left: 6px;
    font-size: 18px;
  }
  .field-label-4 {
    font-size: 15px;
  }
  .div-block-6 {
    width: 17%;
    margin-right: 10px;
    float: left;
  }
  .div-block-7 {
    width: 48%;
    margin-right: 10px;
    float: left;
  }
  .div-block-8 {
    width: 23%;
    float: left;
  }
  .div-block-9 {
    margin-bottom: 10px;
  }
  .div-block-10 {
    margin-bottom: 30px;
  }
  .image {
    margin-top: 3px;
    margin-left: 0px;
    float: right;
  }
  .field-label-5 {
    width: 80%;
    margin-right: 0px;
  }
  .submit-button {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 3px solid #000;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(270deg, #0075be, #0075be);
    background-image: linear-gradient(180deg, #0075be, #0075be);
    font-size: 15px;
  }
  .section-3 {
    margin: 12px 12px 40px;
  }
  .image-2 {
    display: block;
    max-width: 200%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  .text-block-5 {
    margin-bottom: 30px;
    color: #0075be;
    font-size: 15px;
    font-weight: 700;
  }
  .div-block-11 {
    height: 210px;
    background-image: -webkit-linear-gradient(270deg, #0075be, #0075be);
    background-image: linear-gradient(180deg, #0075be, #0075be);
  }
  .section-4 {
    position: relative;
    top: -150px;
    display: block;
    width: auto;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
    border-color: #aaa;
  }
  .div-block-12 {
    padding: 16px 12px;
    background-image: -webkit-linear-gradient(270deg, #fff, #fff);
    background-image: linear-gradient(180deg, #fff, #fff);
  }
  .div-block-13 {
    padding: 30px 12px 12px;
    background-image: -webkit-linear-gradient(270deg, #f3f3f3, #f3f3f3);
    background-image: linear-gradient(180deg, #f3f3f3, #f3f3f3);
  }
  .text-block-6 {
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  .body-2 {
    border-right: 1px solid #000;
    border-left: 1px solid #d3d3d3;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
  }
  .text-block-7 {
    width: auto;
    font-size: 15px;
    text-align: left;
  }
  .text-block-8 {
    width: auto;
    color: #767676;
    font-size: 13px;
    text-align: right;
  }
  .column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .row {
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px dashed #aaa;
  }
  .text-block-9 {
    font-size: 20px;
    text-align: right;
  }
  .text-block-10 {
    margin-bottom: 30px;
    font-size: 22px;
    text-align: left;
  }
  .div-block-14 {
    margin-bottom: 12px;
    border: 1px solid #dbdbdb;
    background-image: -webkit-linear-gradient(270deg, #fff, #ebebeb);
    background-image: linear-gradient(180deg, #fff, #ebebeb);
  }
  .text-block-11 {
    display: inline-block;
    padding: 12px;
    float: left;
    font-size: 14px;
    text-align: left;
  }
  .div-block-15 {
    border: 1px solid #dbdbdb;
    background-image: -webkit-linear-gradient(270deg, #fff, #ebebeb);
    background-image: linear-gradient(180deg, #fff, #ebebeb);
  }
  .image-3 {
    width: 31px;
    height: 19px;
    max-height: 19px;
    max-width: 31%;
    margin-top: 12px;
    margin-right: 12px;
    float: right;
  }
  .image-4 {
    width: 31px;
    height: 19px;
    max-height: 19px;
    max-width: 31%;
    margin-top: 12px;
    margin-right: 12px;
    float: right;
  }
  .image-5 {
    display: block;
    width: 50%;
    margin-top: 12px;
    margin-left: 12px;
    text-align: left;
  }
  .link-block {
    display: block;
    margin-bottom: 20px;
    border-bottom: 3px solid #000;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(270deg, #0075be, #0075be);
    background-image: linear-gradient(180deg, #0075be, #0075be);
  }
  .text-block-12 {
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  .link-block-2 {
    display: block;
    margin-bottom: 12px;
    border: 1px solid #dadada;
    background-image: -webkit-linear-gradient(270deg, #fff, #ebebeb);
    background-image: linear-gradient(180deg, #fff, #ebebeb);
  }
  .link-block-3 {
    display: block;
    border: 1px solid #dadada;
    background-image: -webkit-linear-gradient(270deg, #fff, #ebebeb);
    background-image: linear-gradient(180deg, #fff, #ebebeb);
  }
  .field-label-6 {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
  }
  .image-6 {
    display: block;
    margin-right: 10px;
    float: left;
    font-size: 17px;
    text-align: left;
  }
  .text-block-13 {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
  }
  .select-field {
    margin-bottom: 20px;
  }
  .div-block-16 {
    margin-bottom: 20px;
  }
  .text-field-5 {
    height: 46px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 3px;
    font-size: 16px;
  }
  .text-field-6 {
    width: 46%;
    height: 46px;
    margin-right: 12px;
    margin-bottom: 10px;
    float: left;
    border-radius: 3px;
    font-size: 15px;
  }
  .div-block-17 {
    position: static;
    display: block;
  }
  .link-block-4 {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 30px;
    border-radius: 3%;
    background-image: -webkit-linear-gradient(270deg, #0075be, #0075be);
    background-image: linear-gradient(180deg, #0075be, #0075be);
  }
  .text-block-14 {
    color: #fff;
    font-size: 16px;
  }
  .image-7 {
    width: 70%;
  }
  .section-5 {
    padding: 12px 12px 4px;
  }
  .image-8 {
    margin-top: -10px;
    float: right;
  }
  .section-6 {
    padding: 6px 12px;
    background-image: -webkit-linear-gradient(270deg, #0075be, #0075be);
    background-image: linear-gradient(180deg, #0075be, #0075be);
  }
  .paragraph-2 {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
  }
  .body-3 {
    font-family: 'Open Sans', sans-serif;
  }
  .link {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
  }
  .section-7 {
    padding: 10px 30px 40px;
    background-image: -webkit-linear-gradient(270deg, rgba(219, 241, 255, .5), rgba(219, 241, 255, .5));
    background-image: linear-gradient(180deg, rgba(219, 241, 255, .5), rgba(219, 241, 255, .5));
  }
  .div-block-18 {
    margin-top: 0px;
    padding-top: 0px;
    background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 76%, .5), hsla(0, 0%, 76%, .5));
    background-image: linear-gradient(180deg, hsla(0, 0%, 76%, .5), hsla(0, 0%, 76%, .5));
  }
  .heading {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
  }
  .div-block-19 {
    padding: 20px 10px;
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #d3d3d3;
    background-image: -webkit-linear-gradient(270deg, #fff, #fff);
    background-image: linear-gradient(180deg, #fff, #fff);
  }
  .heading-2 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #0075be;
    font-size: 18px;
    line-height: 24px;
  }
  .div-block-20 {
    width: 65%;
  }
  .column-3 {
    padding-right: 12px;
    padding-left: 0px;
  }
  .text-block-15 {
    color: #0075be;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .text-block-16 {
    font-size: 12px;
    text-align: center;
  }
  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-block-17 {
    display: block;
    width: 90px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 7px;
    padding-left: 7px;
    background-image: -webkit-linear-gradient(270deg, #0075be, #0075be);
    background-image: linear-gradient(180deg, #0075be, #0075be);
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
  .heading-3 {
    color: #0075be;
    font-size: 30px;
    text-align: center;
  }
  .link-2 {
    display: block;
    margin-bottom: 22px;
    padding-bottom: 0px;
    color: #0075be;
    text-decoration: none;
  }
  .heading-4 {
    margin-top: 0px;
    margin-bottom: 12px;
    color: #0075be;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
  .unordered-list {
    padding-left: 30px;
    font-size: 16px;
    line-height: 24px;
  }
  .list-item {
    margin-bottom: 10px;
    line-height: 20px;
  }
  .paragraph-3 {
    font-size: 16px;
    font-weight: 700;
  }
  .paragraph-4 {
    padding-bottom: 16px;
    border-bottom: 1px solid #d3d3d3;
    font-size: 16px;
  }
  .link-3 {
    display: block;
    margin-top: 12px;
    margin-bottom: 18px;
    color: #0075be;
  }
  .link-block-5 {
    width: 100%;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(270deg, #0075be, #0075be);
    background-image: linear-gradient(180deg, #0075be, #0075be);
  }
  .text-block-18 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  .link-block-6 {
    display: block;
  }
  .section-8 {
    margin: 12px 12px 40px;
  }
  .heading-5 {
    font-size: 20px;
  }
  .paragraph-6 {
    font-size: 16px;
    line-height: 24px;
  }
  .section-9 {
    margin: 12px 12px 40px;
    border-bottom: 1px none #d3d3d3;
  }
  .text-field-7 {
    width: 45%;
    height: 46px;
    margin-right: 12px;
    float: left;
    border-radius: 3px;
  }
  .link-block-7 {
    height: 46px;
    padding: 10px 20px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(270deg, #0075be, #0075be);
    background-image: linear-gradient(180deg, #0075be, #0075be);
  }
  .text-block-19 {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
  }
  .form-wrapper-2 {
    margin-bottom: 24px;
    padding-bottom: 30px;
    border-bottom: 1px none #d3d3d3;
  }
  .form {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d3d3d3;
  }
  .link-4 {
    color: #0075be;
  }
  .single-number {
    width: 28px;
    height: 26px;
    margin-right: 8px;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
    float: left;
    border-radius: 35px;
    background-image: -webkit-linear-gradient(270deg, #0075be, #0075be);
    background-image: linear-gradient(180deg, #0075be, #0075be);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
  .image-9 {
    display: block;
    width: 100%;
    margin-bottom: 0px;
  }
  .section-10 {
    margin-top: 0px;
  }
  .image-10 {
    width: 100%;
    margin-top: 0px;
  }
  .checkbox-field {
    display: block;
    width: 36%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 28px;
    float: none;
    clear: left;
  }
  .field-label-7 {
    float: left;
    font-size: 13px;
  }
  .image-11 {
    display: block;
  }
  .image-12 {
    width: 100%;
  }
  .image-13 {
    width: 100%;
  }
  .image-14 {
    width: 100%;
  }
  .image-15 {
    width: 100%;
  }
  .image-16 {
    width: 100%;
  }
  .image-17 {
    width: 100%;
  }
  .image-18 {
    width: 100%;
  }
  .image-19 {
    width: 100%;
  }
  .select-field-2 {
    height: 44px;
  }
}

