body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1288px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:675px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:675px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:1284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1090px;
  top:420px;
  width:160px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
