body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1127px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:160px;
  width:980px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-3px;
  top:-5px;
  width:1053px;
  height:92px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:92px;
}
#u3 {
  position:absolute;
  left:2px;
  top:38px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:58px;
  top:291px;
  width:978px;
  height:29px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:29px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:330px;
  width:920px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u7 {
  position:absolute;
  left:60px;
  top:360px;
  width:920px;
  height:440px;
  font-size:19px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:440px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:840px;
  width:1130px;
  height:130px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:130px;
}
#u11 {
  position:absolute;
  left:2px;
  top:57px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:878px;
  width:65px;
  height:49px;
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-size:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:49px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:130px;
  top:894px;
  width:890px;
  height:60px;
  font-size:19px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:60px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:117px;
  top:883px;
  width:90px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:230px;
  top:883px;
  width:130px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:30px;
  top:160px;
  width:980px;
  height:80px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:180px;
  top:181px;
  width:580px;
  height:41px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-size:34px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:41px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:59px;
  top:167px;
  width:90px;
  height:68px;
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-size:55px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:68px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
