body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:753px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:108px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:108px;
}
#u2 {
  position:absolute;
  left:2px;
  top:46px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:81px;
  top:150px;
  width:580px;
  height:120px;
}
#u3_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:590px;
  height:130px;
}
#u4 {
  position:absolute;
  left:2px;
  top:52px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:120px;
  top:150px;
  width:490px;
  height:60px;
  font-family:'GuardianSansWeb-Black', 'Guardian Sans Web Black';
  font-weight:900;
  font-style:normal;
  font-size:34px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:486px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:210px;
  width:540px;
  height:40px;
  font-size:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:40px;
}
#u8 {
  position:absolute;
  left:20px;
  top:3px;
  width:500px;
  word-wrap:break-word;
}
