body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:108px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:108px;
}
#u2 {
  position:absolute;
  left:2px;
  top:46px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:81px;
  top:150px;
  width:580px;
  height:580px;
}
#u3_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:590px;
  height:590px;
}
#u4 {
  position:absolute;
  left:2px;
  top:282px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:120px;
  top:150px;
  width:490px;
  height:60px;
  font-family:'GuardianSansWeb-Black', 'Guardian Sans Web Black';
  font-weight:900;
  font-size:34px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:486px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:432px;
  top:660px;
  width:115px;
  height:40px;
  font-family:'OpenSans-CondensedBold', 'Open Sans Condensed Bold', 'Open Sans Condensed';
  font-weight:700;
  font-size:19px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:210px;
  width:540px;
  height:40px;
  font-size:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:40px;
}
#u10 {
  position:absolute;
  left:20px;
  top:12px;
  width:500px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:182px;
  top:660px;
  width:240px;
  height:40px;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:182px;
  top:281px;
  width:366px;
  height:49px;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:49px;
}
#u14 {
  position:absolute;
  left:10px;
  top:8px;
  width:346px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:182px;
  top:340px;
  width:366px;
  height:49px;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:49px;
}
#u16 {
  position:absolute;
  left:10px;
  top:8px;
  width:346px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:182px;
  top:400px;
  width:366px;
  height:49px;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:49px;
}
#u18 {
  position:absolute;
  left:10px;
  top:8px;
  width:346px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:182px;
  top:461px;
  width:366px;
  height:49px;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:49px;
}
#u20 {
  position:absolute;
  left:10px;
  top:8px;
  width:346px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:182px;
  top:521px;
  width:366px;
  height:49px;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:49px;
}
#u22 {
  position:absolute;
  left:10px;
  top:8px;
  width:346px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:182px;
  top:581px;
  width:366px;
  height:69px;
  font-size:15px;
  color:#1E1E1E;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:69px;
}
#u24 {
  position:absolute;
  left:10px;
  top:9px;
  width:346px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:660px;
  top:400px;
  width:300px;
  height:130px;
  font-size:18px;
  color:#CC0000;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
}
#u26 {
  position:absolute;
  left:20px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
