.eyes {
    -webkit-animation: blink-animation 4s steps(8, start) infinite;
		animation: blink-animation 4s steps(8, start) infinite;
}

@keyframes blink-animation {

		0% {
    		visibility: visible;
	}

		20% {
		    visibility: hidden;
		}

		28% {
		    visibility: visible;
		}

		34% {
		    visibility: hidden;
		}

		60% {
		    visibility: visible;
		}

		100% {
		    visibility: visible;
		}
}
