body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:274px;
  width:2760px;
  height:1426px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2760px;
  height:1426px;
}
#u1 {
  position:absolute;
  left:2px;
  top:705px;
  width:2756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:108px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:108px;
}
#u4 {
  position:absolute;
  left:2px;
  top:46px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:81px;
  top:150px;
  width:580px;
  height:210px;
}
#u5_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:590px;
  height:220px;
}
#u6 {
  position:absolute;
  left:2px;
  top:97px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:120px;
  top:150px;
  width:490px;
  height:60px;
  font-family:'GuardianSansWeb-Black', 'Guardian Sans Web Black';
  font-weight:900;
  font-size:34px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:486px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:332px;
  top:301px;
  width:68px;
  height:40px;
  font-family:'OpenSans-CondensedBold', 'Open Sans Condensed Bold', 'Open Sans Condensed';
  font-weight:700;
  font-size:19px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:220px;
  width:540px;
  height:60px;
  font-size:15px;
  line-height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
}
#u12 {
  position:absolute;
  left:20px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:630px;
  top:850px;
  width:380px;
  height:380px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u14 {
  position:absolute;
  left:2px;
  top:182px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:580px;
  top:284px;
  width:10px;
  height:635px;
  -webkit-transform:rotate(324deg);
  -moz-transform:rotate(324deg);
  -ms-transform:rotate(324deg);
  transform:rotate(324deg);
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:618px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:635px;
}
#u16 {
  position:absolute;
  left:226px;
  top:452px;
  width:10px;
  height:635px;
  -webkit-transform:rotate(324deg);
  -moz-transform:rotate(324deg);
  -ms-transform:rotate(324deg);
  transform:rotate(324deg);
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:618px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:635px;
}
#u17 {
  position:absolute;
  left:236px;
  top:462px;
  width:10px;
  height:635px;
  -webkit-transform:rotate(216deg);
  -moz-transform:rotate(216deg);
  -ms-transform:rotate(216deg);
  transform:rotate(216deg);
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:618px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:635px;
}
#u18 {
  position:absolute;
  left:226px;
  top:1042px;
  width:10px;
  height:635px;
  -webkit-transform:rotate(324deg);
  -moz-transform:rotate(324deg);
  -ms-transform:rotate(324deg);
  transform:rotate(324deg);
}
#u18_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:618px;
  width:20px;
  height:18px;
}
#u18_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:635px;
}
#u19 {
  position:absolute;
  left:236px;
  top:1052px;
  width:10px;
  height:635px;
  -webkit-transform:rotate(216deg);
  -moz-transform:rotate(216deg);
  -ms-transform:rotate(216deg);
  transform:rotate(216deg);
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:618px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:635px;
}
#u20 {
  position:absolute;
  left:40px;
  top:450px;
  width:540px;
  height:60px;
  font-size:30px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
}
#u21 {
  position:absolute;
  left:20px;
  top:10px;
  width:500px;
  word-wrap:break-word;
}
