/**
 * black    : e.g. standard body text
 * gray1    : e.g. standard body text
 * gray2    : e.g. form button hover
 * gray3    : e.g. form button hover
 * gray4    : e.g. secondary text
 * gray5    : e.g. form button hover
 * gray6    : e.g. form button hover
 * gray7    : e.g. form field borders
 */

:root {
    /* Base units*/

    /* 
    Typography
    The sizes are calculated from the --base-fontSize. Using 'rem' instead of
    'em' gives us better control in case of nesting and inheritance.
    */      /*11px*/       /*14px*/           /*16px*/        /*20px*/    /*23px*/        /*28px*/        /*36px*/ /*used for ad, sponsored content*/

    /*
    Colors
     */
    
    /* Grayscale */

    /* Borders */

    /* Colors: Highlights (skins) */

    /* Colors: Notification states */

    /* Colors: Variable names */
 

    /*Border radius*/   
}iframe {
    border:     0 none;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}/*body {
    background: black;
}*/

/*@font-face {
    font-family: 'Open Sans';
    src: url('os/regular.woff') format('woff');
}

@font-face {
    font-family: 'Guardian Egyptian Bold';
    src: url('guardian/egyptian/black.woff') format('woff');
}*/

/**,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}*/

body.album-fullscreen {
    /*overflow: hidden;*/
    background-color: black;
    height: 100vh;
    /*overflow-y: auto;*/
    /*.am-album-wrapper {
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 2999999;
    }*/
    /*.am-page-main {
        padding-top: 0;
        padding-bottom: 0;
    }*/
}


.album-overlay {

    /*overflow-y: auto;*/
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1999999;
    opacity: 1;
    transition: opacity 1s;
    background: black;
}


.album-overlay.fixed {
    position: fixed;   
}


.album-overlay.hidden {
    opacity: 0;
    transition: opacity 1s;   
}


.album-overlay.idle {
    position: static;   
}


.album-overlay.idle .close {
    display: none;   
}


.album-overlay:not(.fixed) ~ div {
    display: none;   
}


.album-overlay .close {
    display: block;
    background: white url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20200%20200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Cdefs%3E%20%20%20%20%20%20%20%20%3Cline%20%20%20%20%20%20%20%20%20%20%20%20id%3D%22line%22%20%20%20%20%20%20%20%20%20%20%20%20x1%3D%2240%22%20%20%20%20%20%20%20%20%20%20%20%20y1%3D%22100%22%20%20%20%20%20%20%20%20%20%20%20%20x2%3D%22160%22%20%20%20%20%20%20%20%20%20%20%20%20y2%3D%22100%22%20%20%20%20%20%20%20%20%20%20%20%20stroke%3D%22black%22%20%20%20%20%20%20%20%20%20%20%20%20stroke-width%3D%225%22%20%20%20%20%20%20%20%20%20%20%20%20stroke-linecap%3D%22round%22%20%20%20%20%20%20%20%20%20%20%20%20%2F%3E%20%20%20%20%3C%2Fdefs%3E%20%20%20%20%3Ccircle%20cx%3D%22100%22%20cy%3D%22100%22%20r%3D%22100%22%20fill%3D%22white%22%20%2F%3E%20%20%20%20%3Cuse%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22%23line%22%20%20%20%20%20%20%20%20transform%3D%22rotate%2845%20100%20100%29%22%20%20%20%20%20%20%20%20%2F%3E%20%20%20%20%3Cuse%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22%23line%22%20%20%20%20%20%20%20%20transform%3D%22rotate%28-45%20100%20100%29%22%20%20%20%20%20%20%20%20%2F%3E%3C%2Fsvg%3E');
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;   
}




.amedia-album {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: black;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    color: white;
    /*overflow-y: scroll;*/
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe ui', Arial, sans-serif;


}




.amedia-album a {
    color: white;   
}




.amedia-album .logo {
    display: block;
    height: 40px;   
}




.amedia-album .logo img {
    height: 100%;
    width: auto;
    max-width: 100%;   
}




.amedia-album .title {/*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe ui', Arial, sans-serif;
        font-weight: 900;*//*font-family: geb, helvetica, arial, sans-serif;*/
    font-size: 2em;
    margin: 0;
    padding: 0;   
}




.amedia-album .header {
    padding: 0;   
}




.amedia-album .kolofon {
    font-size: 12px;
    max-width: 80em;   
}




.amedia-album .counter {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
    padding-left: 67.2px;   
}




.amedia-album .inside {
    padding: 20px;
    box-sizing: border-box;
    background: black;
    color: white;
    display: block;
    width: 100%;
    height: 100vh;/*overflow: hidden;*/
    padding-bottom: 100px;   
}




.amedia-album .image {
    position: absolute;
    top:0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;   
}




.amedia-album .photographer {/*text-transform: uppercase;*/
    color: #aaa;   
}




.amedia-album .tags {
    text-align: left;
    margin-bottom: 40px;   
}




.amedia-album .tags p, .amedia-album .tags ul {
    display: inline;   
}




.amedia-album .tags p, .amedia-album .tags a {
    padding-right: 10px;   
}




.amedia-album .kolofon li::after {
    content: '•';
    padding: 0 6px;   
}




.amedia-album .kolofon li:last-child::after {
    content: ''   
}




.amedia-album .sharebar {
    width: 100%;
    height: 35px;
    overflow: hidden;
    margin-top: 10px;/*button {
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 15px;
        }
        .facebook {
            background: #3b5998 url('svg/facebook.svg');
        }
        .others {
            background: silver url('svg/circleWithDots.svg');
        }*/   
}




.amedia-album .sharebar ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 200px;   
}




.amedia-album .sharebar ul li {
    width: 40px;   
}




.amedia-album ul {
    padding: 0;   
}




.amedia-album li {
    list-style-type: none;
    display: inline-block;   
}




.amedia-album .close {
    background: white url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20200%20200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Cdefs%3E%20%20%20%20%20%20%20%20%3Cline%20%20%20%20%20%20%20%20%20%20%20%20id%3D%22line%22%20%20%20%20%20%20%20%20%20%20%20%20x1%3D%2240%22%20%20%20%20%20%20%20%20%20%20%20%20y1%3D%22100%22%20%20%20%20%20%20%20%20%20%20%20%20x2%3D%22160%22%20%20%20%20%20%20%20%20%20%20%20%20y2%3D%22100%22%20%20%20%20%20%20%20%20%20%20%20%20stroke%3D%22black%22%20%20%20%20%20%20%20%20%20%20%20%20stroke-width%3D%225%22%20%20%20%20%20%20%20%20%20%20%20%20stroke-linecap%3D%22round%22%20%20%20%20%20%20%20%20%20%20%20%20%2F%3E%20%20%20%20%3C%2Fdefs%3E%20%20%20%20%3Ccircle%20cx%3D%22100%22%20cy%3D%22100%22%20r%3D%22100%22%20fill%3D%22white%22%20%2F%3E%20%20%20%20%3Cuse%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22%23line%22%20%20%20%20%20%20%20%20transform%3D%22rotate%2845%20100%20100%29%22%20%20%20%20%20%20%20%20%2F%3E%20%20%20%20%3Cuse%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22%23line%22%20%20%20%20%20%20%20%20transform%3D%22rotate%28-45%20100%20100%29%22%20%20%20%20%20%20%20%20%2F%3E%3C%2Fsvg%3E');
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;   
}




.amedia-album .arrows {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;   
}




.amedia-album .arrows button {
    width: 53.6px;
    height: 40px;
    border: none;
    background-color: black;
    outline: 1px solid white;
    z-index: 1;   
}




.amedia-album .arrows button:disabled {
    opacity: 0.4;   
}




.amedia-album .arrows button:nth-of-type(1) {
    background: black url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20268%20200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22268%22%20height%3D%22200%22%20%2F%3E%20%20%20%20%3Cpolyline%20%20%20%20%20%20%20%20stroke-linejoin%3D%22round%22%20%20%20%20%20%20%20%20stroke-linecap%3D%22round%22%20%20%20%20%20%20%20%20points%3D%2235%2C0%200%2C25%2035%2C50%22%20%20%20%20%20%20%20%20stroke%3D%22white%22%20%20%20%20%20%20%20%20stroke-width%3D%225%22%20%20%20%20%20%20%20%20fill%3D%22none%22%20%20%20%20%20%20%20%20transform%3D%22translate%28116.5%2C%2075%29%22%20%20%20%20%20%20%20%20%2F%3E%3C%2Fsvg%3E');   
}




.amedia-album .arrows button:nth-of-type(2) {
    background: black url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20268%20200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22268%22%20height%3D%22200%22%20%2F%3E%20%20%20%20%3Cpolyline%20%20%20%20%20%20%20%20stroke-linejoin%3D%22round%22%20%20%20%20%20%20%20%20stroke-linecap%3D%22round%22%20%20%20%20%20%20%20%20points%3D%220%2C0%2035%2C25%200%2C50%22%20%20%20%20%20%20%20%20stroke%3D%22white%22%20%20%20%20%20%20%20%20stroke-width%3D%225%22%20%20%20%20%20%20%20%20fill%3D%22none%22%20%20%20%20%20%20%20%20transform%3D%22translate%28116.5%2C%2075%29%22%20%20%20%20%20%20%20%20%2F%3E%3C%2Fsvg%3E');   
}




.amedia-album .grid {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    background: black url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20200%20200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%3Cdefs%3E%20%20%20%20%20%20%20%20%3Cline%20%20%20%20%20%20%20%20%20%20%20%20id%3D%22line%22%20%20%20%20%20%20%20%20%20%20%20%20x1%3D%2250%22%20%20%20%20%20%20%20%20%20%20%20%20y1%3D%22100%22%20%20%20%20%20%20%20%20%20%20%20%20x2%3D%22150%22%20%20%20%20%20%20%20%20%20%20%20%20y2%3D%22100%22%20%20%20%20%20%20%20%20%20%20%20%20stroke%3D%22black%22%20%20%20%20%20%20%20%20%20%20%20%20stroke-width%3D%2210%22%20%20%20%20%20%20%20%20%20%20%20%20%2F%3E%20%20%20%20%3C%2Fdefs%3E%20%20%20%20%3Crect%20%20%20%20%20%20%20%20x%3D%220%22%20%20%20%20%20%20%20%20y%3D%220%22%20%20%20%20%20%20%20%20width%3D%22200%22%20%20%20%20%20%20%20%20height%3D%22200%22%20%20%20%20%20%20%20%20%2F%3E%20%20%20%20%3Crect%20%20%20%20%20%20%20%20x%3D%2250%22%20%20%20%20%20%20%20%20y%3D%2250%22%20%20%20%20%20%20%20%20width%3D%22100%22%20%20%20%20%20%20%20%20height%3D%22100%22%20%20%20%20%20%20%20%20fill%3D%22white%22%20%20%20%20%20%20%20%20%2F%3E%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23line%22%20%2F%3E%20%20%20%20%3Cuse%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22%23line%22%20%20%20%20%20%20%20%20transform%3D%22rotate%2890%20100%20100%29%22%20%20%20%20%20%20%20%20%2F%3E%3C%2Fsvg%3E');
    opacity: 0;   
}




.amedia-album .deck {
    position: fixed;
    width: 100%;
    height: auto;/*padding-top: 75%;*/
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;   
}




.amedia-album .aside {
    position: relative;/*padding-top: 75%;*/
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);/*margin-bottom: 180px;*/
    overflow: hidden;   
}




/*height: 0;*/




.amedia-album .aside .transition {
    transition:     -webkit-transform .3s;
    transition:     transform .3s;
    transition: transform .3s, -webkit-transform .3s;   
}




.amedia-album .bottom-nav {
    z-index: 2;
    box-sizing: border-box;
    padding: 20px;
    background: black;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;   
}




/*.wrapper {
        flex: 1 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: orange;
    }*/




.amedia-album .cards {
    width: 200%;
    height: 100%;
    background: white;
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    overflow: hidden;
    background-color: black;   
}




.amedia-album .card {
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;/* debug *//*&:nth-of-type(1) {
            background: maroon;
        }

        &:nth-of-type(2) {
            background: orange;
        }

        &:nth-of-type(3) {
            background: lime;
        }*/   
}




.amedia-album .card-position-1 {
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
            transform: translate3d(0, 0, 0) scale(1, 1);   
}




.amedia-album .card-position-2 {
    -webkit-transform: translate3d(100%, 0, 0) scale(1, 1);
            transform: translate3d(100%, 0, 0) scale(1, 1);   
}




.amedia-album .card-position-3 {
    -webkit-transform: translate3d(100%, 0, 0) scale(0.9, 0.9);
            transform: translate3d(100%, 0, 0) scale(0.9, 0.9);
    opacity: 0;   
}




.amedia-album .transition {
    transition:     opacity .3s, -webkit-transform .3s;
    transition:     transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;   
}



@media only screen and (max-width: 1279px) and (orientation: landscape) {
    .amedia-album.touch .image {
        position: static;   
    }
    .amedia-album.touch .inside {
        display: none;   
    }
    .amedia-album.touch .deck {
        padding-top: 0 !important;
        height: calc(100% - 60px);
        opacity: 1 !important;/* override js scroll fade */   
    }
}

@media only screen and (max-width: 1279px) and (orientation: portrait) {
    .amedia-album .card {
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                    -ms-grid-row-align: flex-start;
                align-items: flex-start;   
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .amedia-album.touch .close,
        .amedia-album.touch .aside,
        .amedia-album.touch .bottom-nav {
        display: none;   
    }
    .amedia-album.touch .deck {
        height: 100%;   
    }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
    .amedia-album .deck {
        padding-top: 0 !important;
        height: 100%;
        opacity: 1 !important;/* override js scroll fade */
        box-sizing: border-box;
        width: calc(100% - 320px);
        height: 100% !important;   
    }
    .amedia-album .aside {
        -webkit-transform: translate3d(0, 0, 0) !important;
                transform: translate3d(0, 0, 0) !important;/* override inline style */
        position: absolute;
        top: 0;
        right: 0;
        width: 320px;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;   
    }
    .amedia-album .inside {
        height: auto;   
    }
    .amedia-album .bottom-nav {
        width: 320px;   
    }
    .amedia-album .counter {
        padding-left: 0;   
    }
}


/* override incentive css */

#aid-container.am {
    position: fixed;
    top: 90px;
    left: 10%;
    right: 10%;
    box-sizing: border-box;
}amedia-ad {
    display: block;
}

amedia-ad[position="Artikkelboard"] {
    max-width: 480px;
}

amedia-ad[position="Artikkelstripe"] > * {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

amedia-ad[calculating-height] {
    height: auto !important;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    amedia-ad[position="Toppbanner"]:not([calculating-height]) > div {
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -webkit-transform: scale(0.7632653061);
                transform: scale(0.7632653061);
    }
    amedia-ad[position="Toppbanner"][size="980x150"] {
        height: 128px;
    }
    amedia-ad[position="Toppbanner"][size="980x300"] {
        height: 242px;
    }
}

#am-ad-Bunnbanner {
    margin-bottom: 20px;
}

#am-ad-Midtbanner_1 {
    clear:both;
}

.am-adPlaceholder {
    background: #fb0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    line-height: .8;
}

.am-adPlaceholder-info {
    background-color: #c2d9ff;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.am-adPlaceholder-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: 100%;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-line-pack: start;
        -webkit-align-content: flex-start;
            align-content: flex-start;
    overflow-x: auto;
}

.am-adPlaceholder-info li {
    margin-right: 20px;
}amedia-election {
    display:        block;
    margin-bottom:  20px;
    overflow:       hidden;
    width:          100%;
}

amedia-election .heading h2,
amedia-election .electionAd h2 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,"Segoe ui",Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: 400
}

amedia-election .heading {
    border-top: 1px solid #e7e6e2;
    padding-top: 5px;
}

amedia-election .heading a {
    color:      #5c8bd1;
    float:      right;
    margin-top: 20px;
}

amedia-election .am-ratio figure,
amedia-election .am-ratio > div {
    position:   absolute;
    height:     100%;
    width:      100%;
}

amedia-election .am-ratio .am-figure-img {
    object-fit: cover;
    height:     100%;
    width:      100%;
}

amedia-election.noObjectFit .am-ratio .am-figure-img {
    width: auto;
    height: 100%;
}

amedia-election .am-articleEntry,
amedia-election .electionAd {
    clear:      none;
    float:      left;
    margin:     0;
    padding-left: 20px;
    width:      50%;
}

amedia-election .am-articleEntry + .am-articleEntry {
    margin-top: 0;
}   

amedia-election .am-articleEntry:first-child {
    padding-left: 0;
}

amedia-election .electionAd {
    background: #3f4447;
    border-left: 20px solid #fff;
    color:      #fff;
    height:     150px;
    padding-left: 120px;
    padding-right: 30px;
    position:   relative;
    overflow:   hidden;
}

@media screen and (max-width: 767px) {
    amedia-election .am-articleEntry,
    amedia-election .electionAd {
        border-left: 0 none;
        padding:    0;
        margin-bottom: 20px;
        width:      100%;
    }
     
}

@media screen and (max-width:950px) {
    amedia-election .electionAd {
        padding-left: 100px;
    }
}

amedia-election .electionAd a {
    text-decoration: none;
}

amedia-election .electionAd h2 {
    color:      #ffee00;
    padding:    0;
}

amedia-election .electionAd img {
    -webkit-transform:  rotate(270deg);
    transform:          rotate(270deg);
    position:   absolute;
    top:        65px;
    left:       -40px;
    width:      120px;
}

amedia-election .electionAd .center{
    position:   relative;
    height:     100%;
}

amedia-election .electionAd .deck {
    display:    inline-block;
    vertical-align: middle;
}

amedia-election .electionAd .center:before {
    content:    ' ';
    display:    inline-block;
    margin-left: -2em;
    height:     100%;
    width:      1px;
    vertical-align: middle;
}

@media screen and (max-width:900px) and (min-width:767px) {
    amedia-election .electionAd h2 {
        font-size:1.3rem;
    }
}

amedia-election .am-articleEntry-main {
    padding-left: 210px;
}

amedia-election .am-articleEntry-main .am-ratio {
    float:      left;
    margin:     0 0 0 -210px;
    padding:    0;
    height:     150px;
    width:      200px;
}

@media screen and (max-width: 850px) and (min-width:767px) {
    amedia-election .am-articleEntry-main {
        padding-left:   160px;
    }

    amedia-election .am-articleEntry-main .am-ratio {
        margin-left:    -160px;
        width:          150px;
    }
}

@media screen and (max-width: 480px) {
    amedia-election .am-articleEntry-main {
        padding-left:   0;
    }

    amedia-election .am-articleEntry-main .am-ratio {
        margin-left:    0;
        margin-bottom:  10px;
        height:         auto;
        width:          100%;
    }

    amedia-election .am-articleEntry-main .am-figure-img,
    amedia-election .am-ratio figure,
    amedia-election .am-ratio > div {
        position:       static;
        height:         auto;
    }
}amedia-related .am-ratio figure,
amedia-related .am-ratio > div {
    position:   absolute;
    height:     100%;
    width:      100%;
}

amedia-related .am-ratio .am-figure-img {
    object-fit: cover;
    height:     100%;
    width:      100%;
}

amedia-related .am-ratio {
    margin-bottom: 10px;
}

amedia-related.noObjectFit .am-ratio .am-figure-img {
    width: auto;
    height: 100%;
}

amedia-related {
    border-bottom:1px solid  #e7e6e2;
    display: block;
    /*padding-bottom: 20px;*/
    margin-bottom: 20px;
}

amedia-related .am-gridComp {
    margin-bottom: 0;
}

amedia-related .am-btn--related {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 22px;
}

amedia-related .am-articleEntry-summary {
    display: none;
}

amedia-related .am-articleEntry-main {
    padding-top: 10px;
}

amedia-related .am-articleEntry-mainTitle {
    font-size: 1.9em;
    line-height: 1.1em;
}.am-articleItem .am-articleEmbed .am-articleEntry-link {
    color: #292827;
}

.am-articleItem .am-articleEmbed {
    border-top:5px solid;
    border-bottom:1px solid;
    border-color:#e7e6e2;
    padding:0;
}

.am-articleItem .am-articleEmbed .am-color--red {
    color:#d20000;
}

.am-articleItem .am-articleEmbed .am-articleEntry-bodyTeaser {
    margin:0;
    padding:10px 10px;
}

.am-articleItem .am-articleEmbed .am-articleEntry-mainTitle {
    font-size: 1.5rem;
    line-height: 1.625rem;
    margin-top:10px;
    font-family: gsb,"Open Sans", helvetica,arial,sans-serif;
}

.am-articleItem--full .am-articleEmbed .am-articleEntry-right .am-articleEntry-mainTitle {
    margin-top: 0;
}

.am-articleItem .am-articleEmbed .am-articleEntry-summary {
    margin-bottom:0;
}

.am-articleItem > div + div {
    margin-top: 1.5rem;
}

.am-table-wrapper {
    display: inline-block;
}