body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:2px;
  top:54px;
  width:1303px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:100px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:314px;
  top:152px;
  width:980px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:152px;
  width:980px;
  height:47px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:47px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:242px;
  width:980px;
  height:74px;
  font-family:'GuardianSansWeb-Black', 'Guardian Sans Web Black';
  font-weight:900;
  font-style:normal;
  font-size:55px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:74px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:139px;
  top:318px;
  width:1025px;
  height:392px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:392px;
}
#u11 {
  position:absolute;
  left:2px;
  top:188px;
  width:1021px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:565px;
  top:20px;
  width:164px;
  height:28px;
  color:#FF0000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:160px;
  top:342px;
  width:310px;
  height:340px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
