body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:2px;
  top:52px;
  width:1303px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:100px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:565px;
  top:20px;
  width:164px;
  height:28px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:248px;
  top:160px;
  width:797px;
  height:501px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:501px;
}
#u7 {
  position:absolute;
  left:2px;
  top:242px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:660px;
  top:369px;
  width:340px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:537px;
  top:417px;
  width:93px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
