body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:753px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:108px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:108px;
}
#u2 {
  position:absolute;
  left:2px;
  top:46px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:81px;
  top:150px;
  width:580px;
  height:400px;
}
#u3_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:590px;
  height:410px;
}
#u4 {
  position:absolute;
  left:2px;
  top:192px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:120px;
  top:150px;
  width:490px;
  height:60px;
  font-size:34px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:486px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:460px;
  width:540px;
  height:70px;
  font-size:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:70px;
}
#u8 {
  position:absolute;
  left:20px;
  top:18px;
  width:500px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:210px;
  width:540px;
  height:40px;
  font-size:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:40px;
}
#u10 {
  position:absolute;
  left:20px;
  top:12px;
  width:500px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:280px;
  width:240px;
  height:40px;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:330px;
  width:240px;
  height:40px;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:360px;
  top:280px;
  width:10px;
  height:140px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:123px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:140px;
}
#u16 {
  position:absolute;
  left:390px;
  top:330px;
  width:250px;
  height:40px;
  font-family:'OpenSans-CondensedBold', 'Open Sans Condensed Bold', 'Open Sans Condensed';
  font-weight:700;
  font-size:19px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:250px;
  top:380px;
  width:90px;
  height:40px;
  font-family:'OpenSans-CondensedBold', 'Open Sans Condensed Bold', 'Open Sans Condensed';
  font-weight:700;
  font-size:19px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:100px;
  top:390px;
  width:130px;
  height:20px;
  font-size:15px;
  text-decoration:underline;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:380px;
  top:320px;
  width:270px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
