body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:365px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:20px;
  top:80px;
  width:480px;
  height:210px;
  font-size:15px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:210px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:290px;
  width:420px;
  height:90px;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:90px;
}
#u5 {
  position:absolute;
  left:20px;
  top:20px;
  width:380px;
  word-wrap:break-word;
}
