/* GENERAL
***************************************************************/

* {
    -moz-box-sizing: border-box; /*For Mozilla*/
    -webkit-box-sizing: border-box; /*For Chrome og Safari*/
    box-sizing: border-box;
    -ms-box-sizing: border-box; /*For IE8*/
}

.container {
	color: #101010;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;
}