@media screen and (min-width: 0px) {

	.sg-text-size-50-62 {
		font-size: 50px;
		line-height: 62px;
	}

	.sg-text-size-48-58 {
		font-size: 48px;
		line-height: 58px;
	}

	.sg-text-size-46-54 {
		font-size: 46px;
		line-height: 54px;
	}

	.sg-text-size-44-52 {
		font-size: 44px;
		line-height: 52px;
	}

	.sg-text-size-42-50 {
		font-size: 42px;
		line-height: 50px;
	}

	.sg-text-size-40-48 {
		font-size: 40px;
		line-height: 48px;
	}

	.sg-text-size-38-46 {
		font-size: 38px;
		line-height: 46px;
	}

	.sg-text-size-36-44 {
		font-size: 36px;
		line-height: 44px;
	}

	.sg-text-size-34-42 {
		font-size: 34px;
		line-height: 42px;
	}

	.sg-text-size-32-40 {
		font-size: 32px;
		line-height: 40px;
	}

	.sg-text-size-30-38 {
		font-size: 30px;
		line-height: 38px;
	}

	.sg-text-size-28-40 {
		font-size: 28px;
		line-height: 40px;
	}

	.sg-text-size-26-38 {
		font-size: 26px;
		line-height: 38px;
	}

	.sg-text-size-24-36 {
		font-size: 24px;
		line-height: 36px;
	}

	.sg-text-size-22-32 {
		font-size: 22px;
		line-height: 32px;
	}

	.sg-text-size-20-30 {
		font-size: 20px;
		line-height: 30px;
	}

	.sg-text-size-18-28 {
		font-size: 18px;
		line-height: 28px;
	}

	.sg-text-size-16-26 {
		font-size: 16px;
		line-height: 26px;
	}

	.sg-text-size-14-22 {
		font-size: 14px;
		line-height: 22px;
	}

}
