body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:600px;
  width:750px;
  height:502px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:502px;
}
#u1 {
  position:absolute;
  left:2px;
  top:243px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:270px;
  width:750px;
  height:330px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:330px;
}
#u3 {
  position:absolute;
  left:2px;
  top:157px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:300px;
  width:740px;
  height:80px;
  font-family:'GuardianSansWeb-Black', 'Guardian Sans Web Black';
  font-weight:900;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:80px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:50px;
  width:750px;
  height:222px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:222px;
}
#u7 {
  position:absolute;
  left:2px;
  top:103px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:595px;
  width:740px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u9 {
  position:absolute;
  left:240px;
  top:370px;
  width:280px;
  height:40px;
  font-family:'OpenSans-CondensedBold', 'Open Sans Condensed Bold', 'Open Sans Condensed';
  font-weight:700;
  font-size:19px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:30px;
  top:440px;
  width:340px;
  height:40px;
  font-family:'OpenSans-CondensedBold', 'Open Sans Condensed Bold', 'Open Sans Condensed';
  font-weight:700;
  font-size:19px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:390px;
  top:440px;
  width:340px;
  height:40px;
  font-family:'OpenSans-CondensedBold', 'Open Sans Condensed Bold', 'Open Sans Condensed';
  font-weight:700;
  font-size:19px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:30px;
  top:490px;
  width:340px;
  height:110px;
  font-size:15px;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:110px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:390px;
  top:490px;
  width:340px;
  height:80px;
  font-size:15px;
  line-height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:80px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:130px;
  top:604px;
  width:490px;
  height:60px;
  font-family:'GuardianSansWeb-Black', 'Guardian Sans Web Black';
  font-weight:900;
  font-size:34px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:486px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:98px;
  top:687px;
  width:82px;
  height:40px;
  font-family:'OpenSans-CondensedBold', 'Open Sans Condensed Bold', 'Open Sans Condensed';
  font-weight:700;
  font-size:19px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:230px;
  top:960px;
  width:290px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
