body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:671px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:671px;
}
#u1 {
  position:absolute;
  left:2px;
  top:328px;
  width:1292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:400px;
  top:370px;
  width:490px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
